# Python
__pycache__/
*.py[cod]
*.egg-info/
*.log

# Virtual environment
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# VS Code (optional)
.vscode/

# Node dependencies
rootify-app/server/node_modules/
rootify-app/my-app/node_modules/

# Build output
rootify-app/server/dist/
rootify-app/my-app/dist/
rootify-app/my-app/build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Environment variables
*.env
node_modules
